@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin-left: 10;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0e13;
  margin-top: 5rem;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}.logo {
  width: 100px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 15rem;
}

ul {
  display: flex;
  list-style:none;
}
li {
  padding: 20px;
}

.button {
   background-color: aliceblue;
   color: black;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-top: 10rem;

}

.manufacture, .distributor, .retailer, .sell {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin: auto;
    justify-content: center;
  }
}
  .manufacture, .distributor, .retailer, .sell {
    margin-bottom: 1rem;
  }


.track {
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .track {
    position: fixed;
    bottom: 0;
    left: 50%;

  }

}
input[type="text"],
input[type="number"] {
  color: white;
}



footer {
  display: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  position: relative;
  z-index: 1;
  margin-top: 10rem;
}

footer a {
  display: inline-flex;
  margin: 5px;
  padding: 4px;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 16px;
}

footer input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

footer button[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}
